@font-face {
            font-family:font;
            src: url(font.ttf) /*Para os demais navegadores*/;
            font-weight: normal;
            font-style: normal;
}
body{
    font-family: font;
    background-color: #f2f2f2;
    
}
.nav-color{
    background-color: #212529 !important;
}
header{
    font-weight:bold;
    margin-bottom: 96px;
}
.nav-link{
    color: white;
    padding: 0;
    padding-left: 25px;;
}
.nav-link:hover{
    opacity: 0.5;
    color: white;
}
.dropdown-toggle{
    font-weight: bold;
    color: white;
}
.bg-img{
    filter: brightness(0.2);
    width: 100%;
    z-index: 0;
}
footer{
    background-color: #212529;
    
}
p{
    font-size: 20px;
}
.small-card{
    font-weight:bold;
}
.prdt-livro{
    width: 100%;
    position:relative;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.nav-menu{
    top:-2px;
}
footer div small {
    font-size: 10px;
}








.textoVertical {
    writing-mode:tb-rl;
    -webkit-transform:rotate(270deg); //tente 90 no lugar de 270
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
    font-weight:normal;
    text-shadow: 0px 0px 1px #333;
    margin-top:50px;
}
